<!DOCTYPE html>
<html>
  <head>
    <title>GAMEMIND</title>

    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://fonts.googleapis.com/earlyaccess/notosanstc.css', media: 'all' %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>

    <%
      desc = "企業做到精準才有未來，融入遊戲思維，運用有溫度人工智慧，精準掌握客戶行為與喜好，找出數據下的商機。為您量身打造方案，成為您最可靠的顧問。"
      keywords = "遊戲思維,人工智慧,數據,行銷,精準,內容,社群經營,顧問"
      title = "GAMEMIND 遊戲思維 | 為你解析數據下的商機"
    %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
    <meta name="description" content="<%= desc %>" />
    <meta name="keywords" content="<%= keywords %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= OffcialSite::Application.config.host %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= desc %>" />
    <meta property="og:image" content="https://TODO" />
  </head>

  <body>
    <%= yield %>
    <% if ENV["HMR"] == "1" %>
      <%= javascript_include_tag "http://localhost:#{ENV["HMR_PORT"]}/webpack-bundle.js" %>
    <% end %>
  </body>
</html>
