<!DOCTYPE html>
<html>
  <head>
    <title>GameMind Inc.</title>

    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://fonts.googleapis.com/earlyaccess/notosanstc.css', media: 'all' %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
    <meta name="description" content="遊戲思維股份有限公司" />
    <meta name="keywords" content="遊戲,CRM" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= OffcialSite::Application.config.host %>" />
    <meta property="og:title" content="GameMind" />
    <meta property="og:description" content="遊戲思維股份有限公司" />
    <meta property="og:image" content="https://TODO" />
  </head>

  <body>
    <%= yield %>
    <% if ENV["HMR"] == "1" %>
      <%= javascript_include_tag "http://localhost:#{ENV["HMR_PORT"]}/webpack-bundle.js" %>
    <% end %>
  </body>
</html>
